/* font family */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,500;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Nunito:wght@500;600;700&family=Open+Sans:wght@400;500;600;700&family=Rubik:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Kalam:wght@300;400;700&family=Prompt:wght@300;400;500;600;700;800;900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Work+Sans:wght@200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: 'Rubik', sans-serif; */
/* font-family: 'Nunito', sans-serif; */

.banner-wrapper {
  background-image: url('/dist/image/astrobg.jpg');
  height: 100%;
  width: 100%;
}
.astro-container {
  max-width: 1440px;
  width: 100%;
  margin: auto;
  padding: 80px 20px;
}
.banner-information {
  padding-bottom: 20px;
}
.banner-header {
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  max-width: 700px;
  text-transform: capitalize;
}
.banner-header-span {
  position: relative;
}
.banner-header-shape {
  position: absolute;
  bottom: -15px;
  left: 0;
}
.banner-title {
  max-width: 600px;
  width: 100%;
  text-align: left;
  padding-top: 10px;
  font-family: 'Nunito', sans-serif;
  color: white;
}
.banner-button-left {
  color: white;
  font-weight: bold;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  margin-top: 12px;
  min-width: 280px;
  transition: all 0.3s ease-in;
}
.banner-button-left:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in;
}

.banner-button-right {
  background-color: transparent;
  border: 1px solid #ff7010;
  color: white;
  font-weight: bold;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-family: 'Rubik', sans-serif;
  font-size: 25px;
  margin-top: 12px;
  min-width: 280px;
  transition: all 0.3s ease-in;
  color: #ff7010;
  margin-left: 0;
}
.banner-button-right:hover {
  opacity: 0.9;
  transition: all 0.3s ease-in;
  background-color: #ff7010;
  color: white;
}

.banner-btn-arrow {
  display: none;
}

.banner-right-img {
  margin-top: 60px;
}
.banner-right-img-wrapper {
  overflow: hidden;
}
.banner-right-img-inner {
  margin: auto;
  width: 100%;
}
.banner-right-img-inner {
  max-width: 300px;
}
.feature-wrapper {
  background-color: #f6f6f67d;
}
.span-line-1 {
  width: 50px;
  height: 1px;
}
.span-line-2 {
  width: 20px;
  height: 1px;
}
.span-line-3 {
  width: 50px;
  height: 1px;
}
.feature-innne {
  padding-bottom: 20px;
}
.feature-header {
  font-family: 'Rubik', sans-serif;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.feature-header-span {
  position: relative;
}
.feature-header-span-shape {
  position: absolute;
  bottom: -15px;
  left: 0;
}
.feature-header-span-ellips {
  position: absolute;
  bottom: -10px;
  left: -10px;
}
.feature-title {
  max-width: 600px;
  width: 100%;
  margin: auto;
  text-align: center;
  padding-top: 10px;
  font-family: 'Nunito', sans-serif;
}
.card-item-header {
  width: 100%;
  margin: auto;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.card-item-header-img {
  height: 180px;
  width: 100%;
  margin: auto;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-item-header-badge {
  color: #d54a58;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  background-color: white;
  border-radius: 8px;
  letter-spacing: 0.015px;
  padding: 0 10px;
}
.card-item-footer-title {
  font-family: 'Rubik', sans-serif;
  font-size: 20px;
  color: black;
  font-weight: 500;
  letter-spacing: 0.015px;
  padding-top: 16px;
}
.card-item-footer-desc {
  color: rgb(59, 59, 59);
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  margin-top: 16px;
}
.feature-card-wrapper-arrow {
  display: none;
}
@media screen and (max-width: 767px) {
  .astro-container {
    padding: 40px 20px;
  }
}

/* image hover animation */
.wrap {
  overflow: hidden;
  position: relative;
}
.wrap * {
  transition: 0.5s;
}
.wrap img {
  position: relative;
}
.wrap .caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #fff;
}
.wrap:hover img {
  transform: scale(1.5);
}
.wrap:hover .caption {
  opacity: 1;
}

.spin {
  animation: spin 10s infinite linear;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card-shadow {
  box-shadow: 0 0 16px 0px #80808021;
  transition: 0.2s ease-in;
}
.card-shadow:hover {
  transform: translateY(-4px);
  transition: 0.2s ease-in;
}

.heading-gradient {
  background: conic-gradient(
    from 180.29deg at 60.84% 60.83%,
    #049f70 -144.38deg,
    #fbcd05 31.88deg,
    #049f70 116.25deg,
    #049f70 215.62deg,
    #fbcd05 391.87deg
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.gradient-line {
  background: conic-gradient(
    from 180.29deg at 60.84% 60.83%,
    #049f70 -144.38deg,
    #fbcd05 31.88deg,
    #049f70 116.25deg,
    #049f70 215.62deg,
    #fbcd05 391.87deg
  );
}
.gradient-line-2 {
  background-color: #ff7010;
}

.btn {
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 999px;
}

/* Demo Stuff End -> */

/* <- Magic Stuff Start */

.btn:hover {
  background-position: right center; /* change the direction of the change here */
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #049f7170 0%,
    #fbdb4c87 51%,
    #049f7172 100%
  );
}

.svg-delay {
  animation: moveRightToLeft 5s linear infinite;
}

@keyframes moveRightToLeft {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(-15px);
  }
}

.feature-banner-wrapper {
  background-image: url('/dist/image/bg2.jpg');
  height: 100%;
  width: 100%;
}

/* media breakpoint */

@media screen and (min-width: 640px) {
  .banner-button-info {
    display: flex;
    margin-right: 12px;
    align-items: center;
  }

  .banner-button-left {
    width: 200px;
    height: 60px;
  }

  .banner-right-img-inner {
    max-width: 300px;
  }

  .feature-header {
    font-size: 60px;
  }
}

@media screen and (min-width: 768px) {
  .banner-btn-arrow {
    display: block;
    transform: translateX(-56px);
    margin-left: 40px;
  }
}

@media screen and (min-width: 1024px) {
  .banner-header {
    font-size: 60px;
  }

  .banner-button-wrapper {
    display: flex;
    align-items: center;
  }
  .banner-button-right {
    margin-left: 12px;
  }
  .feature-card-wrapper-arrow {
    display: block;
    position: absolute;
    top: -42%;
    left: 0;
    transform: rotate(200deg);
    z-index: 10;
  }
}

@media screen and (min-width: 1280px) {
  .banner-inner {
    display: flex;
    align-items: center;
    padding: 40px 0;
    justify-content: space-between;
  }
  .banner-right-img-inner {
    max-width: 600px;
  }
  .banner-right-img {
    margin-top: 0;
  }
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  gap: 24px;
  margin-top: 50px;
  position: relative;
}

.cards_item {
  padding: 1rem;
  width: 23%;
  position: relative;
  background-color: white;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  .cards_item {
    width: 47%;
  }
}

@media (max-width: 991px) {
  .cards_item {
    width: 47%;
  }
}

@media (max-width: 575px) {
  .cards_item {
    width: 100%;
  }
  .cards {
    flex-direction: column;
  }
}
